@import '/src/styles/scss/mixin';

.comment-item {
  margin-top: 1.25rem;
  position: relative;

  a {
    display: inline-block;
    height: fit-content;
  }

  &:first-child {
    margin-top: 0;
  }

  .user-info {
    display: inline-block;
    line-height: 1.1875rem;
    vertical-align: top;
    margin-top: 0.375rem;
    margin-left: 0.75rem;
  }

  .comment-time {
    display: inline-block;
    font-size: map-get($font-sizes, 'size10');
    @include get-color(color, gray-color);
    line-height: 1.125rem;
    vertical-align: top;
    margin-top: 7px;
    padding-left: 0.75rem;
  }

  .comment-text {
    margin-left: 3.375rem;
    margin-right: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-size: map-get($font-sizes, 'size14');
    @include get-color(color, font-color);
  }

  .btn-option {
    position: absolute;
    top: -15px;
    left: calc(100% - 44px);
    transform: translate(0, 25%);
  }
}
