@import '/src/styles/scss/mixin';

.main-post {
  padding: 20px 15px 0;
  margin-bottom: 80px;
  .comment-list {
    margin-top: 20px;
    border-top: $border-gray100-1px;
    & > li {
      margin-top: 20px;
    }
  }
}
