@import '/src/styles/scss/mixin';

.main-post {
  padding: 20px 15px 0;
  .home-post {
    border-bottom: $border-gray100-1px;
    margin-top: 0;
  }
  .comment-list {
    &,
    & > li {
      margin-top: 20px;
    }
    li:first-child {
      margin-top: 0;
    }
  }
}
