{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaVersion": 2020
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "import/newline-after-import": "off",
    "react/jsx-props-no-spreading": ["warn"],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "jsx-a11y/no-noninteractive-tabindex": [
      "error",
      {
        "tags": ["label"],
        "roles": ["tabpanel"],
        "allowExpressionValues": true
      }
    ],
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "import/no-extraneous-dependencies": 0
  }
}
