@import '/src/styles/scss/mixin';

textarea {
  @include get-color(color, font-color);
  @include get-color(background-color, bg-color);

  border: none;
  resize: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
textarea::placeholder {
  @include get-color(color, gray-color);
}

textarea,
.textarea {
  @include width-height(calc(100% - 24px), fit-content);
  min-height: 9.375rem;
  margin: 0.75rem;
}
