/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== CUSTOM ===== */
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
img {
  vertical-align: top;
}
*:focus {
  outline: 2px solid #9747ff;
}
/* .light *:focus{
  outline-color: #9747FF;
}
.highContrast *:focus{
  outline-color: #FFEB32;
} */

/* font */
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url('../font/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url('../font/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url('../font/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url('../font/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url('../font/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: 700;
}

body {
  font-family: 'Spoqa Han Sans Neo';
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}
input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.main-with-nav {
  height: calc(100% + 61px);
  margin-bottom: 3.8125rem;
}
.before-none::before {
  display: none;
}

nav,
footer {
  z-index: 1;
}

.null-text {
  padding: 1.5rem;
  text-align: center;
  color: #d0d0d0;
}

@media screen and (min-width: 768px) {
  .main-with-nav {
    height: 100%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main:not(.main-login, .main-login-email, .signup-main),
  header.header-search,
  header.header-upload,
  footer {
    margin-left: 80px;
  }
  header:not(.signup-header, .profile-header, .header-search, .header-upload) {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  main:not(.main-login, .main-login-email, .signup-main),
  header.header-search,
  header.header-upload,
  footer {
    margin-left: 200px;
  }
  header:not(.signup-header, .profile-header, .header-search, .header-upload) {
    display: none;
  }
}
