@import '/src/styles/scss/mixin';

// size
// 36 {comment} -> {small}
// 42 {post, upload , chat} -> {regular}
// 50 {search, follower, following} -> {medium}
// 110 {profile} -> {large}
$img-sizes: (
  comment: 36px,
  user: 42px,
  item: 50px,
  main: 110px,
);

$img-sizes2: (
  small: 36px,
  regular: 42px,
  medium: 50px,
  large: 110px,
);

.profile-img {
  @include image-cover;
  @include profile-img-tag;
  border: $border-gray100-1px;
}

@each $name, $size in $img-sizes {
  .#{$name} {
    @include width-height($size, $size);
  }
}
