@import '/src/styles/scss/mixin';

/* 게시물 */
.user-container {
  display: flex;

  align-items: center;

  .profile-img {
    margin-right: 0.75rem;
    border: $border-gray100-1px;
  }

  .user-info {
    margin-right: 0.75rem;
    // display: inline-block;
  }
}

.new-chat {
  position: relative;
  .profile-dot {
    position: absolute;
    left: 0.125rem;
    @include width-height(0.75rem, 0.75rem);
    background-color: $enabled-color;
    border-radius: 50%;
    z-index: 1;
  }
}
