@import '/src/styles/scss/mixin';

.UserContainer {
  display: flex;
  align-items: center;
  width: fit-content;
}

.UserInfo {
  margin-right: 0.75rem;
}

h3.UserName {
  margin-bottom: 6px;
}

.UserName {
  font-size: map-get($font-sizes, 'size14');
  font-weight: 500;
  line-height: 1.125rem;
  @include get-color(color, font-color);
}

.UserId {
  margin-top: 0.125rem;
  &:before {
    content: '@ ';
  }
}

// style refactoring 필요
.UserIntro {
  line-height: 0.9375rem;
  margin-top: 0.375rem;
  cursor: default;
  max-width: calc(100vw - 50px - 56px - 32px - 24px);
}

.ChatContents {
  display: block;
  margin-top: 0.25rem;
}

.SubInfoFont {
  @include get-color(color, gray-color);
  font-size: map-get($font-sizes, 'size12');
  font-weight: 400;
}

.ProfileDot {
  position: absolute;
  left: 0.125rem;
  @include width-height(0.75rem, 0.75rem);
  background-color: $enabled-color;
  border-radius: 50%;
  z-index: 1;
}
