@import '/src/styles/scss/mixin';

.product-container {
  padding: 1.25rem 0;
  position: relative;
  border-top: $border-gray100-1px;
  border-bottom: $border-gray100-1px;
  @include get-color(background-color, bg-color);

  h2 {
    font-weight: 700;
    margin: 0 0 1rem 1rem;
    @include get-color(color, font-color);
  }

  .product-list{
    white-space: nowrap;
    overflow-x: scroll;
    padding: 2px 1rem;
    margin: -2px 0;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  .product-item{
    display: inline-block;
    &:not(:first-child){
      margin-left: 0.625rem;
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 24vw;
    min-width: 8.75rem;
    text-align: left;

    &-img {
      width: 100%;
      order: -1;
      border-radius: 0.5rem;
      aspect-ratio: 14/9;
      -webkit-user-drag: none;
    }

    &-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      margin: 0.4375rem 0;
      font-size: map-get($font-sizes, 'size14');
      @include get-color(color, font-color);
    }

    &-price {
      font-weight: 700;
      font-size: map-get($font-sizes, 'size12');
      @include get-color(color, price-color);
    }
  }
}