@import '/src/styles/scss/mixin';

.main-user-profile {
  min-width: 24.375rem;
  background-color: $gray50-color;

  &>section {
    background-color: $white-color;

    &:not(:first-child) {
      margin-top: .1875rem;
    }
  }
}