@import '/src/styles/scss/mixin';

.follow-item {
  &:first-child {
    margin-top: 0;
  }

  display: flex;
  align-items: center;
  height: 3.125rem;
  margin-top: 1rem;
}

.btn-follow {
  flex-shrink: 0;
  flex-basis: 3.5rem;
  height: 1.75rem;
  margin-left: auto;
}

a {
  @include get-color(color, font-color);
}

p {
  @include get-color(color, gray-color);
}
