@import '/src/styles/scss/mixin';

label {
  @include label-tag;
  margin-top: 1rem
}

input {
  display: block;
  width: 100%;
  @include get-color(background-color, bg-color);
  @include get-color(color, font-color);
  border: none;
  border-bottom: $border-gray100-1px;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}


input::placeholder {
  font-size: map-get($font-sizes, "size14");
  color: $gray100-color;
}

input:focus {
  border-bottom: 0.0625rem solid $highlight-color;
  outline: none;
}

input.error {
  border-bottom-color: $warning-color-text;
}