@import '/src/styles/scss/mixin';

fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

label {
  @include label-tag;
  font-size: 0.75rem;
}

input {
  display: block;
  width: 100%;
  @include get-color(background-color, bg-color);
  @include get-color(color, font-color);
  border: none;
  border-bottom: $border-gray100-1px;
  padding: 0.5rem 0;
}

input::placeholder {
  font-size: map-get($font-sizes, 'size14');
  color: $gray100-color;
}

input:focus {
  border-bottom: 0.0625rem solid $highlight-color;
  outline: none;
}

input.error {
  border-bottom-color: $warning-color-text;
}
