@import '/src/styles/scss/mixin';

.tab-menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 0.0625rem solid $gray250-color;
  @include get-color(background-color, bg-color);

  @media screen and (min-width: 768px) {
    height: 100%;
    top: 0;
    left: 0;
    bottom: unset;
    border-top: unset;
    border-right: 0.0625rem solid $gray250-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1246px) {
    width: 80px;
  }

  @media screen and (min-width: 1024px) {
    width: 200px;
  }
}

.tab-item-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    & > * {
      width: calc(100vw / 4);
      display: inline-block;
      position: relative;
      text-align: center;
      color: $gray300-color;
      font-size: map-get($font-sizes, 'size10');
      padding: 2.5rem 0.625rem 0.625rem;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        transform: translate(-50%, -50%);
        top: 35%;
        left: 50%;
        background-repeat: no-repeat;
        background-size: 352px 44px;
        @include get-color(background-image, navbar-icon-sprites);
      }

      &.here {
        @include get-color(color, enabled-btn-color);
      }

      &:hover {
        background-color: #f1f1f1;
        color: $black-color;
      }
    }
  }

  li:first-child {
    a::before {
      background-position: -142px -10px;
    }

    a.here::before {
      background-position: -98px -10px;
    }
  }

  li:nth-child(2) {
    a::before {
      background-position: -230px -10px;
    }

    a.here::before {
      background-position: -186px -10px;
    }
  }

  li:nth-child(3) {
    a::before {
      background-position: -54px -10px;
    }

    a.here::before {
      background-position: -54px -10px;
    }
  }

  li:nth-child(4) {
    a::before {
      background-position: -318px -10px;
    }

    a.here::before {
      background-position: -274px -10px;
    }
  }

  .tab-item-more,
  .btn-search {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    li {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      margin: 8px 0;
      &.tab-item-search,
      &.tab-item-more {
        display: inline-block;
        ::before {
          display: none;
        }
        .btn-option,
        .btn-search {
          display: flex;
          align-items: center;
          background-position: 25px;
        }
        .btn-search .search-icon {
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translate(-50%, -50%);
        }
      }
      &.tab-item-more {
        position: absolute;
        bottom: 0;
      }
      & > * {
        width: 80px;
        color: transparent;
        &::before {
          top: 50%;
          left: 40px;
        }
        &.here,
        html[data-theme='highContrast'] &.here {
          color: transparent;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    li {
      & > * {
        width: 200px;
        color: $gray300-color;
        font-size: 1rem;
        text-align: left;
        padding: 1.5625rem 0.625rem 1.5625rem 80px;
        &.here {
          @include get-color(color, enabled-btn-color);
        }
      }
    }
  }
}
