@import '/src/styles/scss/mixin';

.btn-back,
.btn-option {
  @include width-height(2.75rem, 2.75rem);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-back {
  order: -1;
  @include get-color(background-image, arrow-img);
}

.btn-option{
  @include get-color(background-image, option-img);
}