@import '/src/styles/scss/mixin';

.no-data {
  // 스타일 필요
}

.search-user-list {
  margin-left: 1rem;
  margin-top: 1.25rem;

  li {
    width: fit-content;
    margin-bottom: 1rem;
  }

  .user-name {
    strong {
      @include get-color(color, point-color);
    }
  }
}
