@import 'mixin';

form {
  width: 100%;
  max-height: 31.25rem;
  overflow: hidden;

  & > * {
    display: block;
  }
}

.upload-imgs-list {
  white-space: nowrap;
  overflow-x: scroll;

  margin: {
    top: 1rem;
    left: 0.75rem;
    bottom: 0.625rem;
  }

  & > li {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.size-ms:disabled {
  @include btn-disabled(color, gray-color);
}

.size-ms {
  @include get-color(background-color, btn-color);
  @include get-color(color, btn-font-color);
}
