@import 'global';
@import 'mixin';

main {
  margin: 0 0.9375rem;
  margin-bottom: 3.8125rem;
}

// 게시글 내용 영역
.home-post {
  border-bottom: $border-gray100-1px;
}
// 게시글 댓글 영역

.post-icon {
  path {
    @include get-color(stroke, gray-color);
  }
  span {
    @include get-color(color, gray-color);
  }
}
