@import 'global';
@import 'mixin';

.title-chat {
  @include get-color(color, font-color);
}

.btn-follow {
  flex-shrink: 0;
  flex-basis: 3.5rem;
  height: 1.75rem;
  margin-left: auto;

  @include get-color(color, btn-font-color);
  @include get-color(background-color, btn-color);
  border-radius: 1.625rem;
}

.btn-follow.opposite {
  @include get-color(color, following-btn-color);
  @include get-color(background-color, following-btn-bg);
  @include get-color(border, following-btn-border);
}

// 재사용되는 코드
.img-cover {
  @include image-cover;
  @include width-height(3.125rem, 3.125rem);
  @include profile-img-tag;
}
