@import '/src/styles/scss/mixin';

#post {
  max-width: 500px;
  margin: auto;
  position: relative;
  .btn-option {
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: -0.75rem;
    transform: translateX(-25%);
    img {
      width: 100%;
    }
  }
  .btn-like.like {
    svg {
      fill: $highlight-color;
      path {
        stroke: $highlight-color;
      }
    }
  }
  .comment-icon {
    width: 20px;
    height: 20px;
  }
}

.post-edit {
  margin: 1rem auto 1rem 3.375rem;
  padding-bottom: 0.3125rem;
  a:first-child {
    display: block;
  }

  .post-text {
    @include get-color(color, font-color);
    margin-bottom: 1rem;
    line-height: 1.125rem;
    word-break: break-all;
    white-space: pre-line;
  }

  .img-cover {
    width: 304px;
    aspect-ratio: 1/1;
    margin-bottom: 0.75rem;
    border-radius: 0.625rem;
    overflow: hidden;
    border: $border-gray100-1px;

    .post-img {
      @include width-height(100%, 100%);
      object-fit: contain;
    }
  }
  @media screen and (max-width: 390px) {
    .img-cover {
      width: 280px;
    }
  }
}
@media screen and (max-width: 360px) {
  .post-edit {
    margin: 1rem 0.5rem 1rem calc(100% - 280px - 0.5rem);
  }
}
@media screen and (max-width: 330px) {
  .post-edit {
    margin: 1rem 0 1rem calc(100% - 248px);
    .img-cover {
      width: 248px;
    }
  }
}

.post-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: $gray300-color;
  font-size: map-get($font-sizes, 'size12');
  & > * {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: inherit;
  }
}
.post-icon {
  path {
    @include get-color(stroke, gray-color);
  }
  span {
    @include get-color(color, gray-color);
  }
}

.post-text,
.cnt,
.btn-comment,
.post-date {
  @include get-color(color, gray-color);
}

.btn-comment {
  width: 20px;
  height: 20px;
}

.post-date {
  font-size: map-get($font-sizes, 'size10');
}
